p{
    padding: 5px;
    margin: 0%;
}
#h1{
    color: white;
    background-color: #c6c9af;
    text-align:center 
}
.one{
    color: white;
    background-color: #0f6980
}
.two{
   color: white;
   background: #0594ed
}
.three{
   color: white;
   background-color: #05bfed
}
.four{
   color: white;
   background-color: #05d2eb
}
.five{
   color: white;
   background-color: #34ebdb
}
.six{
   color: white;
   background-color: #34ebbd
}
.seven{
   color: white;
   background-color: #34eba4
}
.eight{
    color:white;
    background-color: #34eb61
}
.nine{
    color: white;
    background-color: #eb34cc
}
.ten{
    color:white;
    background-color: #eb34ab
}
.eleven{
    color:white;
    background-color: #e834eb
}
.twelve{
    color:white;
    background-color:#eb34cc
}
.thirteen{
    color:white;
    background-color:#eb34ab 
}
.fourteen{
    color:white;
    background-color: #eb348f
}
.fifteen{
    color:white;
    background-color: #eb3477
}










